body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #02c39a;
  font-family: "Poppins", sans-serif;
  color: #f0f3bd;
}

#root .App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mainDiv {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas: "recipeMainDiv recipeMainDiv";
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.recipeDiv input {
  display: flex;
  border: 1px solid black;
  border-radius: 5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 30rem;
}

.recipeMainDiv {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 30rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100vw;
  background-color: #00a896;
  padding: 1rem;
}

button {
  border: none;
  border-radius: 1rem;
  background-color: #05668d;
  color: #f0f3bd;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.loginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.howToDiv {
  max-width: 3rem;
}

.recipeform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.recipeform input {
  padding: 0.5rem;
  border-radius: 5rem;
  margin: 0.5rem;
  width: 20rem;
}
.recipeform textarea {
  width: 22rem;
  height: 10rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.recipeform button {
  width: 10rem;
}

.recipeBoxStyle {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 30rem;
}

.stylethisdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userPage {
  min-width: 50rem;
  padding: 0;
  display: grid;
  /* grid-template-columns: 15rem, 15rem;
  grid-template-rows: 15rem, 15rem; */
  grid-template-areas: "recipeBoxStyle recipeBoxStyle";
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-gap: 1rem;
}

.deleteAndChangeButtons {
  display: flex;
  justify-content: center;
}

.changeRecipeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.changeRecipeForm input {
  padding: 0.5rem;
  border-radius: 5rem;
  margin: 0.5rem;
  width: 20rem;
}

.changeRecipeForm textarea {
  width: 22rem;
  height: 10rem;
  border-radius: 1rem;
}

.changeRecipeForm button {
  width: 10rem;
}
